<div class="reply-paging-line">
  <%= render 'pagination', posts: posts %>

  <div class="clear"></div>

  <%= link_to game_new_post_path(game, topic) do %>
    <div class="btn btn-dark pull-right reply">
        Responder
    </div>
  <% end %>
</div>
<div class="clear"></div>
