<div id="sidePanel">
  <div id="panelContent">
    <div id="panelHide">
      <p>Esconder</p>
    </div>

    <ul id="mycarousel" class="jcarousel jcarousel-skin-tango">
      <% game.pcs.active.each do |character| %>
        <li>
          <%= link_to game_sheet_path(character.slug),
            data: { toggle: 'modal', target: '#remote-modal', width: '975px' } do %>
            <div class="image-wrapper player-unselected" players-list-avatar>
              <%= avatar(character, alt: '', title: '') %>
              <div class="character-name-background"></div>
              <div class="character-name"><%= character.name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="panelHandle">
    <p>Personagens</p>
  </div>
</div>
