<div id="sidePanel">
  <div id="panelContent">
    <div id="panelHide">
      <p>Esconder</p>
    </div>

    <ul id="mycarousel" class="jcarousel jcarousel-skin-tango">
      <% game.pcs.each do |character| %>
        <li>
          <!-- ARRUMAR LINK -->
          <%= link_to 'character_sheet#show', { 'data-toggle': 'modal', 'data-target': '#remote-modal', 'data-width': '1015px' } do %>
            <div class="image-wrapper player-unselected" players-list-avatar>
              <%= avatar(character) %>
              <div class="character-name-background"></div>
              <div class="character-name"><%= character.name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="panelHandle">
    <p>Personagens</p>
  </div>
</div>
