<% if @identity.game_master? %>
  <div class="recipients-line alert alert-warning">
    <span>Escolha para quem é a postagem</span>
    <div class="clear"></div>
    <%= f.text_field :recipients, value: @post.present? ? @recipients : '' %>
  </div>
<% elsif @post.present? %>
  <%= f.hidden_field :recipients, value: @recipients %>
<% end %>
