<input type="hidden" name="topic_group_id" id="topic-group-id" />

<h4></h3>
<fieldset class="topic-fields">
  <label>Título</label><br />
  <input type="text" name="title" id="title" value="<%= topic.title %>" /><br />

  <div id="description-container">
    <label>Descrição</label><br />
    <input type="text" name="description" id="description" value="<%= topic.description %>" />
  </div>
</fieldset>

<script>
  var NewContent = require('new-content'),
      newContent = new NewContent('#topic-content-form');
</script>
