<% if @identity.game_master? %>
  <%= link_to game_new_topic_path,
      data: { toggle: 'modal', target: '#remote-modal', width: '365px' } do %>
    <button type="button" class="btn btn-success">
      <%= icon('plus') %> Novo
    </button>
  <% end %>
<% end %>
