<% if @identity.game_master? %>
  <% data = { toggle: 'modal', target: '#remote-modal', width: '365px' } %>

  <%= link_to new_game_topic_path, data: data do %>
    <button type="button" class="btn btn-danger">
      <%= icon('plus') %> Novo tópico
    </button>
  <% end %>

  <%= link_to new_game_topic_group_path, data: data do %>
    <button type="button" class="btn btn-gold">
      <%= icon('plus') %> Nova categoria
    </button>
  <% end %>
<% end %>
