<% if (page == 1) { %>
  <%= avatar(character, class: 'black-and-white-avatar') %>
  <header>
    <h1 class="rpg-system text-right"><%= system_name %></h1>
  </header>
<% else %>
  <div class="row">&nbsp;</div>
<% end%>
