<% if attribute.description.present? %>
  <td class="hidden">
    <div class="qtip-titlebar"><%= attribute.name %></div>
    <div class="qtip-content"><%= raw(attribute.description) %></div>
  </td>
<% end %>
