.marked-to-remove {
  display: none !important;
}

.message-preview {
  position: relative;
  min-width: 485px;
  padding: 5px;
  background-color: #500909;

  a {
    padding: 5px 8px !important;
  }

  img {
    height: 50px;
    width: 50px;
  }

  .avatar {
    margin-right: 5px;
  }

  .name {
    position: absolute;
    top: 6px;
    text-shadow: 1px 1px 0 #000;
  }

  .message {
    color: #fff;
  }

  .time {
    position: absolute;
    top: 55px;
    right: 5px;
    font-size: 10px;
    color: #fff;
  }
}


.dropdown-menu > li.message-preview > a:hover {
  background-color: #30070b;
}

#private-messages .divider {
  margin: 1px;
}

.no-messages {
  margin-bottom: 25px;
  text-align: center;
  color: #ac5050;
}
