#my-characters {
  width: 265px;
  padding: 4px;
  border-top: 0 !important;
  text-align: center;
  color: $gold;
  background-color: #000;

  img {
    height: 70px;
    width: 70px;
    margin: 4px;
    border: 1px solid #000;
    border-radius: 10px;
  }
}
