li.dropdown.open .dropdown-menu {
  background-color: #640D0D !important;
  margin-top: 1px !important;
  right: -1px !important;
  border: 1px solid #101010 !important;
  border-top: 0 !important;
}

li.dropdown.open .dropdown-toggle {
  background-color: #640D0D !important;
}

#private-messages {
  padding-top: 0;
}