<footer id="site-footer">
  <div class="pull-left">
    <%= link_to root_path do %>
      <div class="icon border-right" id="home">
        <div class="home"></div>
      </div>
    <% end %>

<!--
    <a href="< %: Url.Action("About", "Home")%>" title="Sobre" class="pull-left">
      <div class="icon border-right" id="info">
        <div class="info"></div>
      </div>
    </a>
  </div>
  <div class="pull-right">
    <a href="< %: Url.Action("Museum", "Home")%>" title="Museu" class="pull-left">
      <div class="icon border-left" id="archive">
        <div class="archive"></div>
      </div>
    </a>
    <a href="< %: Url.Action("Masters", "Home")%>" title="Mestres" class="pull-left">
      <div class="icon border-left" id="masters">
        <div class="masters"></div>
      </div>
    </a>
    <a href="http://m.arenah.com.br" title="Arenah no celular" class="pull-left">
      <div class="icon border-left">
        <div class="mobile"></div>
      </div>
    </a>
  -->
  </div>
  <div>
    <ul class="social-small-grid social-footer">
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-twitter">
          <a href="http://twitter.com/artur_caliendo"></a>
        </div>
        <div class="social-small-info-back social-small-twitter-hover">
              <a href="http://twitter.com/artur_caliendo"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-facebook">
          <a href="http://facebook.com/artur.caliendoprado"></a>
        </div>
        <div class="social-small-info-back social-small-facebook-hover">
          <a href="http://facebook.com/artur.caliendoprado"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-skype">
          <a href="callto://artur.prado"></a>
        </div>
        <div class="social-small-info-back social-small-skype-hover">
          <a href="callto://artur.prado"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-youtube">
          <a href="http://youtube.com/videosarenah"></a>
        </div>
        <div class="social-small-info-back social-small-youtube-hover">
          <a href="http://youtube.com/videosarenah"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
    </ul>
  </div>
</footer>