<% if limit_reached %>
  <div class="alert alert-warning">
    Máximo de categorias atingido.
  </div>
<% end %>

<fieldset class="topic-fields">
  <label>Nome (máximo de 20 caracteres)</label><br />
  <input type="text" name="name" maxlength="20" id="name"
    value="<%= topic_group.name %>" <%= 'disabled' if limit_reached %> />
</fieldset>

<script>
  var NewContent = require('new-content'),
      newContent = new NewContent('#topic-content-form');
</script>
