<% unless topic_group.new_record? %>
  <input type="hidden" name="id" value="<%= topic_group.id %>" />
<% end %>

<% if groups.length >= 4 %>
  <div class="alert alert-warning">
    Máximo de categorias atingido.
  </div>
<% end %>

<fieldset class="topic-fields">
  <label>Nome</label><br />
  <input type="text" name="name" id="name" value="<%= topic_group.name %>" /><br />
</fieldset>

<script>
  var NewContent = require('new-content'),
      newContent = new NewContent('#topic-content-form');
</script>
