<div id="home-carousel" class="col-lg-8 col-lg-offset-2 carousel slide" data-ride="carousel">
  <h3>Salas em destaque:</h3>

  <div class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <% (0..2).each do |i| %>
        <% if @games.count > i %>
          <% game = @games[i] %>
          <div class="item <%= 'active' if i == 0 %>">
            <%= link_to game_home_path(game) do %>
              <%= banner(game) %>
              <div class="carousel-caption">
                <%= game.short_description %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
