<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Arenah</h1>
          <p class="intro-text">
            Não entre em crise de abstinência se não conseguir reunir seu grupo de RPG. A Arenah Tsuki
            é uma plataforma on-line para mestres e jogadores se aventurarem em busca de pontos de XP.
          </p>
          <div class="page-scroll">
            <a href="#rooms" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
