<div class="navbar-header">
  <div class="logo-container">
    <%= link_to root_path do %>
      <div class="site-logo">
        <div class="site-name">Arenah</div>
        <div class="site-trademark">Tsuki</div>
      </div>
    <% end %>
  </div>
</div>