<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
  <ul class="nav navbar-nav">
    <li class="hidden">
      <a href="#page-top"></a>
    </li>
    <li class="page-scroll">
      <a href="#rooms">Salas</a>
    </li>
    <li class="page-scroll hidden-sm">
      <a href="#tour" class="gold">Faça um tour</a>
    </li>
    <li class="page-scroll">
      <a href="#sign-up">Crie sua sala</a>
    </li>
    <% if current_user %>
      <li>
        <%= link_to "Olá, #{current_user.name}",
              edit_profile_path(current_user.id),
              data: {
                toggle: 'modal',
                target: '#remote-modal',
                hello: 'user'
              } %>
      </li>
    <% else %>
      <li class="page-scroll">
        <%= link_to 'Cadastre-se', new_user_registration_path %>
      </li>
      <li class="page-scroll">
        <%= link_to 'Entrar', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
