<section id="sign-up" class="content-section text-center">
  <div class="download-section1">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Venha jogar com a gente</h2>
        <p>Escolha as campanhas que mais lhe agradam e faça a inscrição na página do próprio jogo. Se preferir mestrar,</p>
        <%= link_to 'Crie sua sala', new_game_path, class: 'btn btn-default btn-lg' %>
      </div>
    </div>
  </div>
</section>
