<div class="navbar-header page-scroll">
  <nav id="social_nav_2">
    <ul>
      <li>
        <a href="http://facebook.com/artur.caliendoprado" target="_blank">
          <i class="fa fa-facebook fa-3"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/artur_caliendo" target="_blank">
          <i class="fa fa-twitter fa-32"></i>
        </a>
      </li>
      <li>
        <a href="callto://artur.prado" target="_blank">
          <i class="fa fa-skype fa-3"></i>
        </a>
      </li>
      <li>
        <a href="http://google.com/+ArturCaliendo" target="_blank">
          <i class="fa fa-google-plus fa-3"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
