<tr data-attribute-name="<%= equipment.name %>">
  <td>
    <%= smart_description(equipment) %>
  </td>

  <td class="text-right equipped-item">
    <%= 'Equipado' if equipment.equipped_on.present? %>
  </td>

  <td class="hidden">
    <%= render 'game/sheet/equipment_description', game: @game, equipment: equipment %>
  </td>
</tr>
