<tr data-attribute-name="<%= attribute.name %>" data-editable-attribute-type="text" data-field-to-update="content">
  <td>
    <%= smart_description(attribute) %>
  </td>

  <td class="text-right">
    <%=
      editable_link({
        type: 'text',
        text: attribute.content,
        prefix: attribute.prefix,
        master_only: attribute.master_only
      })
    %>
  </td>

  <%= render 'game/sheet/tooltip', name: attribute.name, description: attribute.description %>
</tr>
