<div class="manage-attributes-group">
  <a href="javascript:;" class="editable-edit">
    <span class="fa fa-edit"></span>
  </a>
  <button type="submit" class="btn btn-primary btn-sm editable-submit">
    <i class="glyphicon glyphicon-ok"></i>
  </button>
  <button type="button" class="btn btn-default btn-sm editable-cancel">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>
