<%= content_tag :div, class: 'attributes-group', data: group.to_params do %>
  <%= render 'game/sheet/attributes_groups/group_title', group: group %>

  <table class="table table-condensed" data-accept-edit-mode>
    <tbody>
      <% group.character_attributes.each do |attribute| %>
        <% partial = partial_for_attribute_type(attribute.type, group.quick_access) %>
        <%= render "game/sheet/attributes_types/#{partial}",
          attribute: attribute %>
      <% end %>

      <%= render 'game/sheet/attributes_groups/empty_group' if group.character_attributes.count == 0 %>
    </tbody>
  </table>
<% end %>
