<div class="attributes-group" data-source-type="<%= group.source_type %>">
  <%= render 'game/sheet/attributes_groups/group_title', group: group %>

  <table class="table table-condensed">
    <tbody>
      <% group.character_attributes.each do |attribute| %>
        <%= render 'game/sheet/attributes_types/table', attribute: attribute %>
      <% end %>

      <%= render 'game/sheet/attributes_groups/empty_group' if group.character_attributes.count == 0 %>
    </tbody>
  </table>
</div>
