<%= content_for :title, "Arenah Tsuki - Tour para mestres" %>

<section class='tour-section'>
  <header id="game-header">
    <div>
      <%= link_to root_path do %>
        <%= banner %>
      <% end %>
    </div>
  </header>

  <h3 id="top-bar">Tour para mestres</h3>

  <div id="tours">
    <div id="main-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pVw22O2F-BI?showinfo=0" frameborder="0" allowfullscreen></iframe>
      <div class="description">
        <h3>Arenah Tsuki</h3>
        <p>A Arenah Tsuki está de cara nova, com um conceito dinâmico de fichas e regras automáticas que abstraem a complexidade do jogo para você.</p>
        <p>Novos recursos foram criados em quase todo o site, da criação da conta até a página de postagens. Para ver o que há de novo por aqui, assista aos vídeos e deixe sugestões.</p>
        <p>Para conhecer melhor todos os recursos da Arenah, recomendamos que participe também do
          <%= link_to 'Tour para jogadores', players_tour_path %>
        </p>
      </div>
    </div>
    <div id="video-list">
      <div class="video">
        <h3>Sala de jogo</h3>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/O-NbuH6UbKE?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="video">
        <h3>Posts</h3>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/WKTZKEBXjQE?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="video">
        <h3>Painel de controle</h3>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/9qVLoS73-qs?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="video">
        <h3>Ficha e sistema</h3>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/o82HMpyXO94?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="video">
        <h3>Sistemas prontos</h3>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/rkp5QPVZb8g?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="video">
        <h3>Criação de posts</h3>
        <iframe width="400" height="225" src="https://www.youtube.com/embed/xaK9Zn9kXZI?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
