<div class="duel">
  <div class="avatar">
    <div>
      <img src="/games/crossover/images/avatars/strange.jpg" />
      <span>X</span>
      <img src="/games/crossover/images/avatars/inuyasha.gif" />
    </div>
    <div class="buttons">
      <div class="btn btn-dark pull-left first-button">
        <a href="javascript:;">Apostar</a>
      </div>
      <div class="btn btn-dark pull-left second-button">
        <a href="javascript:;">Apostar</a>
      </div>
    </div>
  </div>
  <div class="data">
    Em 26/08/2014<br />
    -----------------------<br />
    Strange: <br />
    <span>12</span><br />
    Inuyasha: <br />
    <span>07</span><br />
  </div>
</div>
