.carousel {
  margin-bottom: 30px;
}

.carousel-inner {
  height: 300px;
}

.carousel-inner img {
  margin: 0 auto;
}

.carousel-caption {
  height: 45px;
  font-size: 17px;
  font-family: 'Open Sans';
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  top: 140px;
}

.item {
  min-height: 300px;
  border: 1px solid #ccc;
}
