.carousel {
  margin-bottom: 30px;
}

.carousel-inner {
  height: 300px;
}

.carousel-inner img {
  margin: 0 auto;
}

.carousel-caption {
  height: 45px;
  padding-top: 8px;
  font-size: 20px;
  color: #FCE627;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}
