@media(min-width:767px) {
  .logo-container {
    position: relative;
    margin-left: -400px;
    transition: margin-left 500ms ease-in-out;
    text-transform: none;
  }

  .top-nav-collapse .logo-container {
    position: relative;
    margin-left: 0;
    transition: margin-left 500ms ease-in-out;
  }

  .top-nav-collapse .site-trademark {
    top: 17px !important;
    transition: top 600ms ease-in-out;
  }
}

@media(max-width:767px) {
  .logo-container {
    display: none;
  }
}

.site-logo {
  font-family: cursive;
}

div.site-name {
  margin-left: 5px;
  font-size: 38px;
  line-height: 47px;
  color: $gold;
  text-shadow: 1px 2px $main-red;
}

div.site-trademark {
  position: absolute;
  top: 17px;
  left: 130px;
  font-size: 25px;
  color: $main-red;
}

.navbar-header a {
  text-decoration: none;
}
