.my-character-avatar {
  max-height: 180px;
}

.role-badge {
  float: right;
  margin-right: 10px;
  padding: 3px 9px 3px 0;
}

.badge-player {
  color: #fff;
  background-color: #007bff;
}

.badge-master {
  color: #212529;
  background-color: #28a745;
}

.avatar-container {
  align-items: center;
  background: #222;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}
