.game {
  float: left;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: open sans;
  font-size: 13px;
  background-color: #171616;
  border: 2px solid #464646;

  @media(min-width: 992px) {
     height: 370px;
  }

  @media(min-width: 1200px) {
    width: 360px;
    height: 380px;
  }

  @media(min-width: 992px) and (max-width: 1199px) {
    width: 445px;
  }

  .short-description {
    padding: 10px;
    padding-top: 0;
    text-align: justify;
    font-size: 15px;
    color: #fff;
  }

  .subtitle {
    text-indent: 10px;
    color: #CFD2A3;
  }

  .author {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    width: 51px;
  }

  .author-avatar {
    position: absolute;
    bottom: -15px;
    right: 10px;
    opacity: 0;
    transition: opacity .45s linear;

    img {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      border: 1px solid #000;
    }
  }

  h3 {
    text-align: left;
    text-transform: inherit;
    margin-bottom: 10px;
    padding: 5px 5px 2px 10px;
  }

  hr {
    border-color: #403E3E;
    margin: 10px;
  }

  header {
    position: relative;

    img {
      max-width: 95%;

      &:hover + .author-avatar {
        opacity: 1;
      }
    }
  }
}
