
.gameRoom {
  float: left;
  height: 320px;
  border: 1px solid #000;
  margin-left: 20px;
  background-color: #171616;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 30px;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
  font-family: Verdana;
  font-size: 13px;
  color: #CFD2A3;
  border: 2px solid #464646;
}

.gameRoom:hover {
  box-shadow: 0px -4px 18px 0 $gold;
  -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}

.gameRoom header {
  border-bottom: 2px solid #000;
  transition: box-shadow .5s ease-in-out;
}

.gameRoom header img {
  width: 340px;
  max-height: 100px;
  border-radius: 7px 7px 0px 0;
}

.gameRoom .short-description {
  width: 340px;
  text-align: justify;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

.gameRoom h3 {
  text-align: left;
  text-transform: inherit;
  margin-bottom: 10px;
  padding: 5px 5px 2px 10px;
}

.gameRoom .subtitle {
  text-indent: 10px;
}

.gameRoom hr {
  border-color: #403E3E;
  margin: 10px;
}

.gameRoom .author {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  width: 51px;
}

.col-centered-outer {
  margin: 0 auto;
}

.col-centered-inner {
  margin: 0 auto;
  width: 745px;
}

@media(max-width:767px) {
  .col-centered-inner{
    width: 380px;
  }
}

#rooms .row h3 {
  color: $gold;
}