.hint-box {
  width: 250px;
  height: 325px;
  margin: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #F9F7E4;

  i {
    font-size: 60px;
  }

  article {
    font-size: 16px;
    text-align: justify;
    font-family: sans-serif;
    padding: 15px;
    margin-bottom: 12px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: initial;
    font-family: Helvetica;
  }
}

@media screen and (max-width: 994px) {
  .hint-box {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .hint-box {
    width: 100%;
  }
}

.download-section {
  .box-container {
    text-align: center;
    width: 815px;
    margin: 0 auto;
    height: 370px;
  }

  .hat {
    font-size: 23px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 994px) {
  .download-section {
    .box-container {
      width: 100%;
    }
  }
}
