#edit-user-profile {
  background-color: #F8F8F8;
  padding: 15px;

  div.field {
    position: relative;
  }

  .password-verdict {
    position: absolute;
    display: block;
    top: -18px;
    left: 110px;
    width: 150px;
    text-align: right;
  }

  .progress {
    width: 260px;
    margin-top: 10px;
    background-color: #000;
  }

  label,
  div.field {
    display: inline-table;
    clear: both;
    width: 100%;
  }

  div.field {
    position: relative;
  }

  label {
    margin-top: 5px;
    margin-bottom: 0;
  }

  input {
    width: 260px;
  }

  .logout {
    position: absolute;
    top: 5px;
    right: 15px;
  }
}

#edit-user-profile-header {
  margin-bottom: 15px;
  text-align: center;
}
