#page-body {
  .bread-crumb a {
    font-size: 12px;
    color:#726F6F;

    &:hover {
      color: $gold;
    }
  }

  .bread-crumb > a + a:before {
    content: "/\00a0";
    padding: 0 2px;
    color: #726f6f;
  }

  .bread-crumb > .active {
    cursor: default;
    text-decoration: none;
  }

  .bread-crumb > .active:hover {
    color: $gold;
    text-decoration: none;
    cursor: default;
  }
}
