.home {
  background: image-url('flaticon_icons/home.png') no-repeat;
}

.archive {
  background: image-url('flaticon_icons/archive.png') no-repeat;
}

.mobile {
  background: image-url('flaticon_icons/smartphone.png') no-repeat;
}

.masters {
  background: image-url('flaticon_icons/masters.png') -7px -7px no-repeat;
}

.info {
  background: image-url('flaticon_icons/info.png') no-repeat;
}