.site-logo {
  font-family: cursive;
}

div {
  &.site-name {
    margin-left: 5px;
    line-height: 47px;
    font-size: 38px;
    color: $gold;
    text-shadow: 1px 2px #c0111f;
  }

  &.site-trademark {
    position: absolute;
    top: 17px;
    left: 130px;
    font-size: 25px;
    color: #c0111f;
  }
}

.navbar-header a {
  text-decoration: none;
}
