#page-body .reply-paging-line {
  float: left;
  width: 100%;
  margin: 10px 0;
  text-align: right;
}

.pagination-bar {
  float: right;

  ul {
    margin: 0 !important;
  }
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  > li {
    display: inline;
  }

  > li > a,
  > li > span {
    float: left;
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    color: #ccc;
    text-decoration: none;
    background-color: #191919;
    border: 1px solid #2c2929;
  }

  > li:first-child > a,
  > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  > li:last-child > a,
  > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  > li > a:hover,
  > li > span:hover,
  > li > a:focus,
  > li > span:focus {
    color: #000;
    border-color: #5c5454;
    background-color: $gold;
  }

  > .active > a,
  > .active > span,
  > .active > a:hover,
  > .active > span:hover,
  > .active > a:focus,
  > .active > span:focus {
    z-index: 2;
    border-color: #5C5454;
    cursor: default;
    color: #000;
    background-color: $gold;
  }

  > .disabled > span,
  > .disabled > span:hover,
  > .disabled > span:focus,
  > .disabled > a,
  > .disabled > a:hover,
  > .disabled > a:focus {
    cursor: not-allowed;
    color: #999;
    border-color: #5C5454;
    background-color: #444141;
  }

  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
  }

  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
  }

  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
