.site-logo {
  font-family: cursive;
}

div.site-name {
  font-size: 38px;
  color: #F4DD1D;
  margin-left: 5px;
  text-shadow: 1px 2px #C0111F;
  line-height: 47px;
}

div.site-trademark {
  font-size: 25px;
  position: absolute;
  top: 17px;
  left: 130px;
  color: #C0111F;
}

.navbar-header a {
  text-decoration: none;
}