/* Social Icons - circle small
   http://bootstrapmaster.com/themes/free-bootstrap-themes/gotya-free-bootstrap-theme/
=================================================================== */
.social-small-grid {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0px 0 0 0;
  text-align: center;
  list-style: none;

  li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 6px 6px;

    a {
      display:block;
      width: 32px;
      height: 32px;
    }
  }
}

.social-small-item {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50em;
  cursor: default;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
}

.social-small-info-wrap {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;

  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  box-shadow: 0 0 0 3px #000,
    inset 0 0 3px rgba(100,100, 100, 1);
}

.social-small-info {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50em;

  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .social-small-info-back {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    -o-transform: rotate3d(0,1,0,180deg);
    -ms-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
    margin-left: 1px;
  }

  > div {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    border-radius: 50%;
    background-position: center center;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.social-small-item:hover {
  .social-small-info-wrap {
    box-shadow:
      0 0 0 0 rgba(255,255,255,0.8),
      inset 0 0 3px rgba(246,246, 246, 1);
  }

  .social-small-info {
    -webkit-transform: rotate3d(0,1,0,-180deg);
    -moz-transform: rotate3d(0,1,0,-180deg);
    -o-transform: rotate3d(0,1,0,-180deg);
    -ms-transform: rotate3d(0,1,0,-180deg);
    transform: rotate3d(0,1,0,-180deg);
  }
}

.social-small-amazon { background: #000 url(/images/social_icons/amazon_grey.png) no-repeat; }
.social-small-amazon-hover { background: #2f3842 url(/images/social_icons/amazon_white.png) no-repeat; }
.social-small-facebook { background: #000 url(/images/social_icons/facebook_grey.png) no-repeat; }
.social-small-facebook-hover { background: #3b5998 url(/images/social_icons/facebook_white.png) no-repeat; }
.social-small-linkedin { background: #000 url(/images/social_icons/linkedin_grey.png) no-repeat; }
.social-small-linkedin-hover { background: #71b2d0 url(/images/social_icons/linkedin_white.png) no-repeat; }
.social-small-paypal { background: #000 url(/images/social_icons/paypal_grey.png) no-repeat; }
.social-small-paypal-hover { background: #32689a url(/images/social_icons/paypal_white.png) no-repeat; }
.social-small-rss { background: #000 url(/images/social_icons/rss_grey.png) no-repeat; }
.social-small-rss-hover { background: #fe9900 url(/images/social_icons/rss_white.png) no-repeat; }
.social-small-skype { background: #000 url(/images/social_icons/skype_grey.png) no-repeat; }
.social-small-skype-hover { background: #18b7f1 url(/images/social_icons/skype_white.png) no-repeat; }
.social-small-tumblr { background: #000 url(/images/social_icons/tumblr_grey.png) no-repeat; }
.social-small-tumblr-hover { background: #3a5976 url(/images/social_icons/tumblr_white.png) no-repeat; }
.social-small-twitter { background: #000 url(/images/social_icons/twitter_grey.png) no-repeat; }
.social-small-twitter-hover { background: #48c4d2 url(/images/social_icons/twitter_white.png) no-repeat; }
.social-small-youtube { background: #000 url(/images/social_icons/youtube_grey.png) no-repeat; }
.social-small-youtube-hover { background: #f45750 url(/images/social_icons/youtube_white.png) no-repeat; }
