<section class="bread-crumb">
  <%= link_to 'Arenah Tsuki', root_path %>
  <%#= link_to_if game.present?, game.name, { controller: :games, action: :show } %>
  <%#= link_to_if topic.present?, topic.title, { controller: :topics, action: :show } %>
</section>