<div id="sidePanel">
  <div id="panelContent">
    <div id="panelHide">
      <p>Esconder</p>
    </div>
    <ul id="mycarousel" class="jcarousel jcarousel-skin-tango">
      <% game.pcs.each do |character| %>
        <li>
          <!-- ARRUMAR LINK -->
          <%= link_to 'character_sheet#show', { 'data-toggle': 'modal', 'data-target': '#remoteModal', 'data-width': '1015px' } do %>
            <div class="imageWrapper player-unselected">
              <%= avatar(character) %>
              <div class="characterNameBg" style="display: none;"></div>
              <div class="characterName" style="display: none;"><%: character.Name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="panelHandle">
    <p>Personagens</p>
  </div>
</div>