<%= content_for :title, 'Arenah Tsuki - Sobre' %>

<%= content_for :head do %>
  <style>
    body {
      background-color: #fff !important;
    }
    #content {
      width: 100% !important;
      font-family: "Open Sans", Verdana, Helvetica;
      font-size: 20px;
      background-color: #fff !important;
      padding: 10px;
      border: none !important;
      text-align: justify;
    }

    #content h2 {
      font-family: Verdana, Helvetica;
      font-size: 24px;
      margin-bottom: 40px;
    }

    .list-inline li a {
      border: 1px solid #000;
      border-radius: 5px;
    }

    .navbar-user {
      display: none;
    }
  </style>
<% end %>

<%#= Html.RenderPartial("Banner"); %>

<div class='content'>
  <div class='row'>
    <div class='col-sm-12 col-lg-10 col-lg-offset-1'>
      <h2>A Arenah</h2>
      <p>
          Arenah Tsuki é a segunda geração de nossa comunidade de RPG "play-by-forum", ou
          "play-by-post", como esta modalidade de jogo também é conhecida. É um sistema de
          RPG online com recursos para mestres e jogadores desenvolverem seus jogos de forma
          prática, autônoma e automatizada.
      </p>
      <p>&nbsp;</p>

      <h2>Um pouco de História</h2>
      <img src="/images/about/logo.jpg" alt="Tsuki" class="tsuki-logo" align="left" style='margin-right: 15px' />
      <p>
          Tudo começou em uma noite ociosa em que, desanimado com a rotina, comecei a explorar
          comunidades do (finado) Orkut - coisa que eu nunca fazia. Com a cabeça apoiada na mão, cansado
          e entediado, deparei-me com uma comunidade de um anime chamado Inuyasha e, dentro
          dela, com um tópico convidando as pessoas para uma partida de RPG.
      </p>
      <p>
          Até então eu nunca tinha visto um jogo de RPG "play-by-post", como se diz, e não
          fazia ideia de como o jogo aconteceria. Além disso, havia apenas uma mensagem anônima
          (que não é mais tão anônima assim). Quais as chances de dar certo?
      </p>
      <p>
          "Por que não?", pensei. Nossas vidas mudam mais vezes do que gostaríamos de admitir
          quando nos fazemos essa pergunta.
      </p>
      <p>
          Aos poucos fomos nos tornando amigos (virtuais, é verdade, mas ainda assim amigos).
          Cansados do <i>"Bad bad server, no donut for you"</i>, sugeri que criássemos um
          fórum para nós, em uma das muitas plataformas gratuitas espalhadas pela Internet.
      </p>
      <p style="text-align: center">
          <img src="/images/about/orkut-bad-server.gif" alt="Bad bad server, not donut for you" align="left" style='margin-right: 15px' />
      </p>
      <p>
          Foi assim que nasceu a Tsuki. De um fórum com um jogo de RPG sobre Inuyasha, foi
          se transformando como um filho que cresce e amadurece, suportando cada vez mais
          salas, temas, pessoas, mestres, jogadores... pessoas que procuravam lazer, divertimento,
          interação. Pessoas como vocês, que estão aqui lendo isso. Pessoas como eu.
      </p>
      <p>
          A Tsuki mudou de administradores. De layout. De plataforma. Ganhou e perdeu staffs.
          Já foi burocrático demais, liberal demais, complicado demais. Sempre divertido.
          Sempre trabalhoso. Como todo filho, trouxe dores de cabeça, preocupações, brigas.
          A pressão estourou, a Tsuki fechou. Prefiro pensar nisso como aquele período em
          que deixamos os filhos irem morar em outra cidade para fazerem faculdade, em que
          tudo o que podemos fazer é apoiá-los à distância e torcer para que a experiência
          seja possitiva, que possoamos reconhecê-lo quando voltarem. A verdade é que, sempre
          que voltam, sentimos orgulho de quem se tornaram.
      </p>
      <p>
          E ele voltou! Não como um filho pródigo, porque ele nunca esteve perdido e precisou
          se achar. Voltou com outro nome, uma brincadeira com a reclamação que as pessoas
          sempre faziam: "Por que a Tsuki terminou?". Vamos criar uma nova Tsuki, uma que
          dure para sempre! (ousadias como esta derrubaram a Torre de Babel, mas vamos ignorar
          detalhes insignificantes). Neverend era um nome engraçado, mas provisório, e logo
          se tornou <strong>Arenah</strong>. Muito maior do que antes, com uma proposta diferente
          e ambiciosa, e que certamente não conseguiu abraçar tudo o que queria porque seus
          braços ainda não cresceram o suficiente. Talvez seja melhor assim.
      </p>
      <p>
          A Arenah, de cara nova, dá mais um passo em sua sequência evolutiva. Darwin ficaria
          orgulhoso. Como o eterno retorno de Nietzche, ou como o ouroboros dos alquímicos,
          cuja serpente morde a própria cauda, voltamos na direção do passado, do início.
          Da lua, se gostar de trocadilhos. Se há uma lição disto tudo é que não se avança
          ignorando as origens, ignorando o passado. Cada passo traz seu aprendizado e deve
          comportar todos os outros já aprendidos.
      </p>
      <p>
          Considerem o nascimento da <strong>Arenah Tsuki</strong> uma homenagem a todos vocês
          que, de alguma forma, fizeram parte deste sonho, que construíram não uma plataforma,
          mas uma comunidade, uma família (um pouco belicosa, ao bom estilo Al Capone). Algumas
          poucas coisas mudaram e outras pequenas vão mudar bem discretamente daqui para a
          frente. Agradeço de coração a todos que já abraçaram essa ideia.
      </p>
      <p>
      Shoryuha.
      </p>
      <p style="text-align: center">
          <img src="/images/about/inuyasha.jpg" alt="Um tributo ao Inuyasha, onde tudo começou" align="left" style='margin-right: 15px; margin-bottom: 15px;' />
      </p>
      <div class='text-center'>
        <h2>Fale comigo</h2>

        <ul class="list-inline">
          <li>
            <a href="http://facebook.com/artur.caliendoprado" class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/artur_caliendo" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
            </a>
          </li>
          <li>
            <a href="http://google.com/+ArturCaliendo" class="btn btn-default btn-lg">
              <i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
