#sidePanel {
  position: fixed;
  left: -185px;
  top: 0;
  z-index: 1032;
  height: 70%;
  width: 245px;
}

#panelHandle {
  float: left;
  height: 200px;
  width: 40px;
  background-color: #333;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

  p {
    position: relative;
    left: -4px;
    top: 26px;
    margin: 0;
    padding: 0;
    color: $gold;
    font-size: 22px;
    font-weight: 700;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /* Opera */
    -ms-transform: rotate(90deg);
    /* IE 9 */
  }
}

#panelContent {
  float: left;
  width: 185px;
  background-color: #EEE;
  border-right: 2px solid #000;
}

#panelHide {
  height: 35px;
  width: 100%;
  cursor: pointer;
  background-color: #333;

  p {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: $gold;
    border-bottom: 1px solid #fff;
  }
}


.jcarousel-skin-tango {
  padding-left: 0;
  margin-top: 10px;
  margin-left: 12px;
}

.player-unselected {
  border: 4px solid #373730;
}

.player-selected {
  border: 4px solid $gold;
}

.player-over {
  border: 4px solid $gold;
}

.character-name-background {
  position: absolute;
  display: none;
  bottom: 0;
  height: 28px;
  width: 100%;
  background-color: #CCC;
  opacity: 0.6;
}

.character-name {
  position: absolute;
  display: none;
  bottom: 0;
  height: 28px;
  width: 133px;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 12px;
}

.image-wrapper {
  position: relative;
  display: table-cell;
  width: 133px;
  height: 133px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.jcarousel-skin-tango  {
  .jcarousel-container-vertical {
    width: 160px;
    padding: 40px 20px;
    background: #282828!important;
    border: 1px solid $gold!important;
  }

  .jcarousel-container {
    background: #F0F6F9;
    border-radius: 10px;
    border: 1px solid #346F97;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }

  .jcarousel-clip {
    overflow: hidden;
  }

  .jcarousel-clip-vertical {
    left: -10px;
    width:  140px;
    height: 245px;
  }

  .jcarousel-item-vertical {
    margin-bottom: 10px;
  }

  .jcarousel-item-placeholder {
    color: #000;
    background: #fff;
  }

  .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 65px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background: transparent url(/Images/jcarousel-button-down.png) no-repeat 0 0;

    &:hover, &:focus {
      background-position: 0 -32px;
    }

    &:active {
      background-position: 0 -64px;
    }
  }

  .jcarousel-next-disabled-vertical {
    cursor: default;
    background-position: 0 -96px;

    &:hover,
    &:focus,
    &:active {
      @extend .jcarousel-next-disabled-vertical;
    }
  }


  .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 65px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background: transparent url(/Images/jcarousel-button-up.png) no-repeat 0 0;

    &:hover,
    &:focus {
      background-position: 0 -32px;
    }

    &:active {
      background-position: 0 -64px;
    }
  }

  .jcarousel-prev-disabled-vertical {
    cursor: default;
    background-position: 0 -96px;

    &:hover,
    &:focus,
    &:active {
      @extend .jcarousel-prev-disabled-vertical;
    }
  }
}


#panelContent img {
  max-width: 133px;
  max-height: 133px;
  border-radius: 5px;
}
