.post .author {
  float: left;
  width: 180px;
  font: 300 13px "Open Sans";

  .name {
    width: 185px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    background-color: #F5F5DC;
    border: 1px solid #ccc;
  }

  .attributes-group h2 {
    height: 20px;
    margin-top: -16px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
  }

  hr {
    margin: 0;
  }

  img {
    display: block;
    max-width: 133px;
    max-height: 133px;
    margin: 0 auto;
    border: 1px solid #130316;
    box-shadow: 10px 10px 5px #888;
  }

  table {
    margin-bottom: 0;
  }
}

.flip-panel.avatar {
  .back {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #130316;
    box-shadow: 10px 10px 5px #888;

    .link {
      margin-right: 3px;
    }

    ul.options {
      padding: 5px;

      a {
        display: block;
        width: 100%;
      }

      li {
        margin-bottom: 6px;
        list-style-type: none;

        &:hover {
          background-color: #f5f5dc;
        }

        a {
          font: 300 11px Verdana;
          color: #000;
        }
      }
    }
  }
}

.flip-panel {
  position: relative;
  height: 130px;
  width: 130px;
  margin: 0 auto;
  font-size: .8em;
  cursor: pointer;
  background-color: transparent;

  -webkit-perspective: 600px;
  -moz-perspective: 600px;

  .front {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;

    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  &.flip .front {
    z-index: 900;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }

  &.flip .back {
    z-index: 1000;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
}

.post .author .circle .full {
  background-color: #b6b6a6;
}
