<%= content_for :main_box_content do %>
  <p>Olá, <%= @resource.email %>!</p>
  <p class='lead' style='font-size: 18px;line-height: 21px;'>
    Alguém requisitou um link para mudança de senha. Você pode fazer isso pelo link abaixo.
  </p>
  <p style='margin: 0 0 0 10px;'>
    Se você não pediu para mudar a senha, por favor ignore este e-mail. Sua senha não será alterada até você clicar no link abaixo e criar uma senha nova.
  </p>
<% end %>

<%= content_for :blue_box_content do %>
  <p style='margin: 0 0 0 10px;'>
    <%= link_to 'Mude sua senha clicando aqui', edit_password_url(@resource, reset_password_token: @token) %>
  </p>
<% end %>
