<li>
  <div class="character" data-id="<%= character.id %>">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <div class="pull-left">
      <%= avatar(character, class: 'character-avatar tiny-avatar') %>
      <% character.avatar = 'AVATAR.png' %>
      <img data-path="<%= avatar_path(character) %>" class="hidden initiative-avatar-template" />
    </div>

    <div class="pull-left character-options">
      <select class="action-list"></select>

      <div class="clear"></div>

      <select class="signal">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="text" value="0" class="modifier" />
    </div>
  </div>
</li>
