.attributes-group-legend {
  padding: 10px;
  font-size: 11px;
  font-style: italic;
  border: none;
  background-color: #e7f3e8;
}

.decreased-mark {
  color: $main-red;
}

.increased-mark {
  color: $main-green;
}
