#sheet {
  padding: 10px;
  width: 972px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333 !important;

  .attributes-group {
    h2 {
      display: block;
      margin-bottom: 15px;
      text-align: center;

      &.with_gutter {
        margin-bottom: 30px;
      }
    }

    td {
      border-top: none !important;
      border-bottom: 1px dashed #ccc;
    }

    tr {
      cursor: pointer;
    }
  }

  .col-sm-4 {
    padding-left: 0;
  }

  .group-points {
    display: block;
    font-size: 13px;

    .available-points {
      color: $main-green;
    }

    .exceeded-points {
      color: $main-red;
    }
  }

  .inner-border {
    display: inline-block;
    position: relative;
    padding: 15px;
    padding-bottom: 50px;
    min-height: 800px;
    min-width: 952px;
    margin-bottom: 5px;
    border: 5px double #000;
  }

  a {
    color: #333;

    &:focus {
      outline: 0;
    }
  }

  header {
    margin: 20px 0;

    h1 {
      padding: 5px 5px 15px 5px;
      margin: 0.67em 0;
      line-height: 77px;
      font-size: 70px;
      font-family: Verdana, Arial;
      border-bottom: 1px solid #eee;
    }
  }
}

#sheet-tools {
  position: absolute;
  top: 65px;
  left: 16px;
  display: none;
  padding: 6px;
  width: 438px;
  height: 32px;
  color: #fff;
  background-color: #040404;
  border: 1px solid #000;
  border-radius: 5px;

  a {
    color: #fff;
  }

  span {
    cursor: pointer;
  }
}

.sheet-page-number {
   position: absolute;
   height: 30px;
   width: 920px;
   text-align: right;
   bottom: 0;
}

.black-and-white-avatar {
  position: absolute;
  max-width:133px;
  max-height:133px;
  box-shadow: 10px 10px 5px #888;
  border: 1px solid #000;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.increased {
  color: $main-green;
  font-weight: bold;
}

.decreased {
  color: $main-red;
  font-weight: bold;
}

.equipped-item {
  color: $main-green;
}

.ui-state-hover {
  background: repeating-linear-gradient(
    45deg,
    $gold,
    $gold 10px,
    #F4DD6B 10px,
    #F4DD6B 20px
  )
}
