<!DOCTYPE html>
<html>
<head>
  <title>Arenah Tsuki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
</head>
<body style="min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;text-align: left;line-height: 19px;font-size: 14px;width: 100%!important;">
  <table class="body" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;height: 100%;width: 100%;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;">
    <tr style="padding: 0;vertical-align: top;text-align: left;">
      <td class="center" align="center" valign="top" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse!important;">
        <center style="width: 100%;min-width: 0!important;">
          <table class="row header" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;background: #101010;width: 100%!important;position: relative;display: block!important;">
            <tr style="padding: 0;vertical-align: top;text-align: left;">
              <td class="center" align="center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse!important;">
                <center style="width: 100%;min-width: 0!important;">
                  <table class="container" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 95%!important;margin: 0 auto;">
                    <tr style="padding: 0;vertical-align: top;text-align: left;">
                      <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;position: relative;padding-right: 0!important;border-collapse: collapse!important;display: block!important;">
                        <table class="twelve columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 100%!important;table-layout: fixed!important;float: none!important;padding-right: 0px!important;padding-left: 0px!important;display: block!important;">
                          <tr style="padding: 0;vertical-align: top;text-align: left;">
                            <td class="six sub-columns" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0px 0px 10px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;min-width: 0px;padding-right: 10px;width: 50%!important;border-collapse: collapse!important;">
                              <div class="site-logo" style='font-family:cursive; position: relative;'>
                                <div class="site-name" style='margin-left:5px;line-height:47px;font-size:38px;color:#f4dd1d;text-shadow:1px 2px #c0111f;'>Arenah</div>
                                <div class="site-trademark" style='margin-left: 60px;font-size:25px;color:#c0111f;'>Tsuki</div>
                              </div>
                            </td>
                            <td class="six sub-columns last" style="text-align: right;vertical-align: middle;word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0px 0px 10px;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;min-width: 0px;padding-right: 0px;width: 50%!important;border-collapse: collapse!important;">

                            </td>
                            <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0!important;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;visibility: hidden;width: 1px!important;border-collapse: collapse!important;"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
          <table class="container" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 95%!important;margin: 0 auto;">
            <tr style="padding: 0;vertical-align: top;text-align: left;">
              <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse!important;">
                <table class="row" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%!important;position: relative;display: block!important;">
                  <tr style="padding: 0;vertical-align: top;text-align: left;">
                    <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;position: relative;padding-right: 0!important;border-collapse: collapse!important;display: block!important;">
                      <table class="twelve columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 100%!important;table-layout: fixed!important;float: none!important;padding-right: 0px!important;padding-left: 0px!important;display: block!important;">
                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                          <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0px 0px 10px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse!important;width: 100%!important;">
                            <%= yield :main_box_content %>
                          </td>
                          <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0!important;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;visibility: hidden;width: 1px!important;border-collapse: collapse!important;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row callout" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%!important;position: relative;display: block!important;">
                  <tr style="padding: 0;vertical-align: top;text-align: left;">
                    <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;position: relative;padding-bottom: 20px;padding-right: 0!important;border-collapse: collapse!important;display: block!important;">
                      <table class="twelve columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 100%!important;table-layout: fixed!important;float: none!important;padding-right: 0px!important;padding-left: 0px!important;display: block!important;">
                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                          <td class="panel" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px!important;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;background: #ECF8FF;border: 1px solid #d9d9d9;border-color: #b9e5ff;border-collapse: collapse!important;width: 100%!important;">
                            <%= yield :blue_box_content %>
                          </td>
                          <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0!important;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;visibility: hidden;width: 1px!important;border-collapse: collapse!important;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row footer" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%!important;position: relative;display: block!important;">
                  <tr style="padding: 0;vertical-align: top;text-align: left;">
                    <td class="wrapper" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;position: relative;background: #ebebeb;border-collapse: collapse!important;padding-right: 0!important;">
                      <table class="six columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto; width: 280px;table-layout: fixed!important;float: none!important;padding-right: 0px!important;padding-left: 0px!important;display: block!important;">
                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                          <td class="left-text-pad" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0px 0px 10px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;padding-left: 10px;border-collapse: collapse!important;padding-right: 10px!important;width: 100%!important;">
                            <h5 style="color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;padding: 0;margin: 0;text-align: left;line-height: 1.3;word-break: normal;font-size: 24px;padding-bottom: 10px;">Fale conosco:</h5>
                            <table class="tiny-button facebook" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;width: 100%;overflow: hidden;">
                              <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 5px 0 4px;vertical-align: top;text-align: center;color: #ffffff;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;display: block;background: #3b5998;border: 1px solid #2284a1;border-color: #2d4473;border-collapse: collapse!important;width: 100%!important;">
                                  <a href="http://facebook.com/artur.caliendoprado" style="color: #ffffff;text-decoration: none;font-weight: normal;font-family: Helvetica,Arial,sans-serif;font-size: 12px;">Facebook</a>
                                </td>
                              </tr>
                            </table>
                            <br>
                            <table class="tiny-button twitter" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;width: 100%;overflow: hidden;">
                              <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 5px 0 4px;vertical-align: top;text-align: center;color: #ffffff;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;display: block;background: #00acee;border: 1px solid #2284a1;border-color: #0087bb;border-collapse: collapse!important;width: 100%!important;">
                                  <a href="http://twitter.com/artur_caliendo" style="color: #ffffff;text-decoration: none;font-weight: normal;font-family: Helvetica,Arial,sans-serif;font-size: 12px;">Twitter</a>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0!important;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;visibility: hidden;width: 1px!important;border-collapse: collapse!important;"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;position: relative;background: #ebebeb;padding-right: 0!important;border-collapse: collapse!important;">
                      <table class="six columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 280px!important;table-layout: fixed!important;float: none!important;padding-right: 0px!important;padding-left: 0px!important;display: block!important;">
                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                          <td class="last right-text-pad" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0px 0px 10px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;padding-right: 0px;border-collapse: collapse!important;padding-left: 10px!important;width: 100%!important;">
                            <h5 style="color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;padding: 0;margin: 0;text-align: left;line-height: 1.3;word-break: normal;font-size: 24px;padding-bottom: 10px;">Jogue em:</h5>
                            <p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
                              <a href="http://rpg.arenah.com.br" style="color: #2ba6cb;text-decoration: none;">
                                rpg.arenah.com.br
                              </a>
                            </p>
                          </td>
                          <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0!important;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;visibility: hidden;width: 1px!important;border-collapse: collapse!important;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>
